@page "/vibration"
@using BlazorExtensions
@inject Navigator navigator

<h1>Vibration</h1>

<p>Last return from vibrate: @lastReturnFromVibrate</p>

<button class="btn btn-primary" onclick="@IncrementCount">Vibrate me</button>

@functions {
    bool? lastReturnFromVibrate;

    void IncrementCount()
    {
        lastReturnFromVibrate = navigator.vibrate(new[] { 500, 100 });
    }
}
